html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Verdana' !important;
}
label {
  color: #077395;
}
#canvas {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.logo-img {
  width: 90%;
  margin: 5px;
}
#title {
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
#title label {
  width: 100%;
  text-align: center;
  font-size: x-small;
}
.flexcontainer {
  justify-content: space-between;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.attribution {
  cursor: pointer;
  margin-bottom: 0px;
}
#attribution {
  background-color: white;
  width: 340px;
  margin: auto;
  z-index: 5000;
  bottom: 10px;
  position: fixed;
  display: flex;
  left: 0px;
  right: 0px;
}
#legend {
  height: 130px;
  padding: 5px;
  overflow: auto;
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
#legendfooter {
  height: 60px;
  margin: 10px;
}
#layers {
  padding: 5px;
  overflow: auto;
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
#filter {
  padding: 5px;
  height: 120px;
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
.ms-container {
  width: 200px !important;
}
.ms-container .ms-list {
  height: 100px !important;
}
#beep {
  background-repeat: no-repeat;
  height: 58px;
  padding: 5px;
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
.soundoff {
  background-image: url(img/sound_off.svg);
  background-size: 48px 48px;
  cursor: pointer;
}
.soundon {
  cursor: pointer;
  background-size: 48px 48px;
  background-image: url(img/sound_on.svg);
}
.toggleon {
  background-image: url(img/toggle_on.svg);
  background-size: 65px 26px;
  cursor: pointer;
}
.toggleoff {
  background-image: url(img/toggle_off.svg);
  background-size: 65px 26px;
  cursor: pointer;
}
#map {
  background-color: white;
  width: 100%;
  height: 100%;
}
#popup {
  display: block;
  width: 260px;
  height: 305px;
  left: -130px;
  top: -305px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: large;
}
.ol-popup-closer:after {
  content: "✖";
}
.legend-footer {
  color: #077395;
  font-size: xx-small;
}
#ms-sel-rayon li {
  color: #077395;
}
#centerpanel {
  height: 100%;
  width: 25px;
  background-color: #D3E6EC;
  right: 20%;
  position: absolute;
  top: 0px;
}
#eastpanel {
  background-color: white;
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
#filter-button {
  width: 65px;
  height: 26px;
  position: relative;
  bottom: 60px;
  left: 210px;
}
#collapse-button {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0px;
}
.collapsed {
  background-image: url(img/collapse.svg);
  background-size: 25px 25px;
  cursor: pointer;
}
.expanded {
  background-image: url(img/expand.svg);
  background-size: 25px 25px;
  cursor: pointer;
}
#datetime {
  margin-left: 30%;
  margin-right: 30%;
  color: #077395;
  height: 80px;
  width: 40%;
}
#hour {
  font-size: xx-large;
}
#date {
  font-size: medium;
}
