html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Verdana' !important;
}
label {
  color: #077495;
}
#canvas {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.logo-img {
  width: 90%;
  margin: 5px;
}
#title {
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
#title label {
  width: 100%;
  text-align: center;
  font-size: x-small;
}
.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.attribution {
  cursor: pointer;
  margin-bottom: 0px;
}
#attribution {
  background-color: white;
  width: 340px;
  margin: auto;
  z-index: 5000;
  bottom: 10px;
  position: fixed;
  display: flex;
  left: 0px;
  right: 0px;
}
#legend {
  height: 120px;
  padding: 5px;
  overflow: auto;
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
#legendfooter {
  height: 60px;
  margin: 10px;
}
#layers {
  padding: 5px;
  overflow: auto;
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
#title {
  height: 100px;
}
#filter {
  padding: 5px;
  height: 120px;
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
.ms-container {
  width: 200px !important;
}
.ms-container .ms-list {
  height: 100px !important;
}
#beep {
  background-repeat: no-repeat;
  height: 58px;
  padding: 5px;
  border-bottom: 1px solid rgba(7,116,149, 0.5);
}
.soundoff {
  background-image: url(img/ic_volume_off_black_48px.svg);
  cursor: pointer;
}
.soundon {
  cursor: pointer;
  background-image: url(img/ic_volume_up_black_48px.svg);
}
#map {
  background-color: white;
  width: 100%;
  height: 100%;
}
#popup {
  display: block;
  width: 260px;
  height: 305px;
  left: -130px;
  top: -305px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: large;
}
.ol-popup-closer:after {
  content: "✖";
}
.legend-footer {
  color: #077495;
  font-size: xx-small;
}
#ms-sel-rayon li {
  color: #077495;
}
#eastpanel {
  background-color: white;
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
#filter-toggle {
  position: relative;
  width: 70px;
  bottom: 60px;
  left: 210px;
}
#datetime {
  margin-left: 30%;
  margin-right: 30%;
  font-weight: bold;
  color: #077495;
  height: 90px;
  width: 40%;
}
#hour {
  font-size: xx-large;
}
#date {
  font-size: medium;
}
#collapse {
  color: #077495;
  font-weight: bold;
  font-size: large;
  position: absolute;
  top: 0px;
  right: 20%;
  z-index: 10000;
}
