html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Verdana' !important;
}
label {
  color: #077495;
}
#attribution {
  margin: auto;
  z-index: 5000;
  width: 20%;
  bottom: 10px;
  position: fixed;
  display: flex;
  left: 0px;
  right: 0px;
}
#legend {
  padding: 5px;
  background-color: white;
  width: 20%;
  right: 0px;
  bottom: 10px;
  position: absolute;
  max-height: 200px;
  overflow: auto;
}
#layers {
  padding: 5px;
  background: #FFFFFF url("img/logo.png") no-repeat 90% 10%; 
  width: 20%;
  right: 0px;
  top: 10px;
  max-height: 185px;
  overflow: auto;
  position: absolute;
}
#filter {
  position: absolute;
  right: 0px;
  background-color: white;
  padding: 5px;
  width: 20%;
  top: 200px;
}
#beep {
  position: absolute;
  right: 0px;
  background-color: white;
  padding: 5px;
  width: 20%;
  bottom: 200px;
}
#map {
  background-color: white;
  width: 100%;
  height: 100%;
}
#popup {
  display: block;
  width: 212px;
  height: 148px;
  left: -106px;
  top: -148px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 20px;
}
.ol-popup-closer:after {
  content: "✖";
}
.legend-footer {
  color: #077495;
  font-size: 9px;
}
